<?xml version="1.0" encoding="utf-8"?>
<providers 
xmlns="http://ibatis.apache.org/providers" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<clear/>
            
  <provider name="SysBase"
    description="iAnywhere.Data.SQLAnywhere.v4.5, Version=v4.0.30319"
    enabled="true"
    default="true"
    assemblyName="iAnywhere.Data.SQLAnywhere.v4.5, Version=16.0.0.13244, Culture=neutral, PublicKeyToken=f222fc4333e0d400" 
    connectionClass="iAnywhere.Data.SQLAnywhere.SAConnection"
    commandClass="iAnywhere.Data.SQLAnywhere.SACommand"
    parameterClass="iAnywhere.Data.SQLAnywhere.SAParameter"
    parameterDbTypeClass="iAnywhere.Data.SQLAnywhere.SADbType"
    parameterDbTypeProperty="DbType"
    commandBuilderClass="iAnywhere.Data.SQLAnywhere.SACommandBuilder"
    usePositionalParameters="false"
    useParameterPrefixInSql="true"
    useParameterPrefixInParameter="true"
    parameterPrefix="@"
    setDbParameterPrecision="false"
    setDbParameterScale="false"
    allowMARS="false"    
  />  
</providers>
