<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="MtBatisSQL" connectionString="Data Source=JMR276\SQL2008R2;Initial Catalog=MyBatisNet;Integrated Security=True"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="sqlFile.xml, MyBatisDataMapper" />
  </sqlMaps>
</sqlMapConfig>