<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
		    name="iAnywhere.Data.SQLAnywhere.EF6" 
		    publicKeyToken="f222fc4333e0d400" 
		    culture="neutral" 
		/>
                <bindingRedirect 
		    oldVersion="16.0.0.0-16.0.0.20434"
		    newVersion="16.0.0.20434"
		/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
