<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="iAnywhere.Data.SQLAnywhere.v4.5" publicKeyToken="f222fc4333e0d400" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.19484" newVersion="16.0.0.19484" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
