<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="false"/>
		<setting validateSqlMap="false"/>
		<setting useReflectionOptimizer="false"/>
		<setting preserveWhitespace="false"/>
	</settings>	
	<providers uri="file://providers.config"/>	
	<database>
		<provider name="SQLite3"/>
		<dataSource name="ibatisnet.sqlmap" connectionString="Data Source=ibatisnet.sqlite;Version=3;"/>
	</database>  
	<alias>
		<typeAlias alias="Account" type="Apache.Ibatis.DataMapper.Sqlite.Test.Domain.Account, Apache.Ibatis.DataMapper.Sqlite.Test"/>
	</alias>  
  <sqlMaps>
		<sqlMap uri="file://../../Maps/Account.xml"/>
  </sqlMaps>
</sqlMapConfig>
