<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KarveCar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="connectionstring" connectionString="EngineName=DBRENT_NET16; DatabaseName=DBRENT_NET16; Uid=cv; pwd=1929; Links=tcpip(host=172.26.0.45)"/>
    </connectionStrings>
    <userSettings>
        <KarveCar.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>es-ES</value>
            </setting>
            <setting name="rbtbMaestros0" serializeAs="String">
                <value>rgrMaestrosCentrosAlquiler</value>
            </setting>
            <setting name="rbtbMaestros1" serializeAs="String">
                <value>rgrMaestrosClientes</value>
            </setting>
            <setting name="rbtbMaestros2" serializeAs="String">
                <value>rgrMaestrosComisionistas</value>
            </setting>
            <setting name="rbtbMaestros3" serializeAs="String">
                <value>rgrMaestrosContratos</value>
            </setting>
            <setting name="rbtbMaestros4" serializeAs="String">
                <value>rgrMaestrosIncidencias</value>
            </setting>
            <setting name="rbtbMaestros5" serializeAs="String">
                <value>rgrMaestrosProveedores</value>
            </setting>
            <setting name="rbtbMaestros6" serializeAs="String">
                <value>rgrMaestrosReservas</value>
            </setting>
            <setting name="rbtbContratos0" serializeAs="String">
                <value>rgrContratos</value>
            </setting>
            <setting name="rbtbContratos1" serializeAs="String">
                <value>rgrCambiosContratos</value>
            </setting>
            <setting name="rbtbContratos2" serializeAs="String">
                <value>rgrVariosContratos</value>
            </setting>
            <setting name="rbtbReservas0" serializeAs="String">
                <value>rgrReservas</value>
            </setting>
            <setting name="rbtbAtipicos0" serializeAs="String">
                <value>rgrAtipicos</value>
            </setting>
            <setting name="rbtbComercial0" serializeAs="String">
                <value>rgrComercial</value>
            </setting>
            <setting name="rbtbFacturacion0" serializeAs="String">
                <value>rgrFacturacion</value>
            </setting>
            <setting name="rbtbFacturacion1" serializeAs="String">
                <value>rgrRecibosCartera</value>
            </setting>
            <setting name="rbtbFacturacion2" serializeAs="String">
                <value>rgrRemesas</value>
            </setting>
            <setting name="rbtbFacturacion3" serializeAs="String">
                <value>rgrEnlacesContables</value>
            </setting>
            <setting name="rbtbFacturacion4" serializeAs="String">
                <value>rgrExportacion</value>
            </setting>
            <setting name="rbtbFacturacion5" serializeAs="String">
                <value>rgrImpresion</value>
            </setting>
            <setting name="rbtbFacturacion6" serializeAs="String">
                <value>rgrEstadisticasFacturas</value>
            </setting>
            <setting name="rbtbFlota0" serializeAs="String">
                <value>rgrInmovilizaciones</value>
            </setting>
            <setting name="rbtbFlota1" serializeAs="String">
                <value>rgrUtilidades</value>
            </setting>
            <setting name="rbtbFlota2" serializeAs="String">
                <value>rgrVariosFlota</value>
            </setting>
            <setting name="rbtbIncidencias0" serializeAs="String">
                <value>rgrIncidencias</value>
            </setting>
            <setting name="rbtbEstadisticas0" serializeAs="String">
                <value>rgrEstadisticas</value>
            </setting>
            <setting name="rbtbListados0" serializeAs="String">
                <value>rgrListados</value>
            </setting>
            <setting name="rbtbConfiguracion0" serializeAs="String">
                <value>rgrConfiguracion</value>
            </setting>
            <setting name="rbtbConfiguracion1" serializeAs="String">
                <value>rgrIdiomas</value>
            </setting>
            <setting name="rbtbConfiguracion2" serializeAs="String">
                <value>rgrPersonal</value>
            </setting>
            <setting name="rbtbConfiguracion3" serializeAs="String">
                <value>rgrUtilitarios</value>
            </setting>
            <setting name="rbtbConfiguracion4" serializeAs="String">
                <value>rgrVariosConfiguracion</value>
            </setting>
            <setting name="rbtbConfiguracion5" serializeAs="String">
                <value>rgrKarve</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>cv</value>
            </setting>
            <setting name="rbtbMaestros7" serializeAs="String">
                <value>rgrMaestrosTarifas</value>
            </setting>
            <setting name="rbtbMaestros8" serializeAs="String">
                <value>rgrMaestrosVehiculos</value>
            </setting>
            <setting name="rbtbMaestros9" serializeAs="String">
                <value>rgrMaestrosVarios</value>
            </setting>
            <setting name="rbtbServicios0" serializeAs="String">
                <value>rgrServicios</value>
            </setting>
        </KarveCar.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
